.team {
  background-color: rgba(245, 244, 250, 1);
  padding-block: 94px;

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__image {
    display: block;
  }

  &__worker {
    background-color: rgba(255, 255, 255, 1);
    padding-block: 30px;
  }

  &__worker-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
  }

  &__worker-occupation {
    color: $color-description;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    margin: 0;
    text-align: center;
  }

  &__social-link-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 18px;
    margin-top: 16px;
    list-style: none;
    padding-left: 0;
  }
}

// .social-item--team {
//   // display: flex;
//   // width: 44px;
//   // height: 44px;
//   // border-radius: 50%;
//   // align-items: center;
//   // justify-content: center;

//   background-color: rgba(255, 255, 255, 1);
//   fill: $color-icon;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: $colorchange;
//     fill: white;
//     outline: none;
//   }
// }
